.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #8a8a8a;
  height: 150px;
  padding: 20px;
  color: white;
  padding-bottom: 30px;
}

.App-title {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-intro {
  font-size: large;
}

.site-wrapper:first-of-type {
  border-top: 1px solid #b9b9b9;
}
.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
}

.site-contents {
  padding: 20px;
  display: flex;
}
.site-url h2 {
  margin-top: 25px;
  font-size: 22px;
}
.site-cookies {
  margin-right: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
